/* ------------------------------
リセットcss
------------------------------ */
html {
    color: #000;
    background: #fff;
}

body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem; /* 16px */
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 1rem;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}


/* ------------------------------
全体共通のスタイル
------------------------------ */
html {
    background-color: #fefefe;
}

body {
    line-height: 1.6;
    color: #1f1f1f;
    letter-spacing: .06em;
    font-family: "Noto Sans JP", sans-serif;
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/* ------------------------------
layout > container
------------------------------ */
.l-container {
    width: 90%;
    max-width: 960px;
    margin: 40px auto 0;
}

/* ------------------------------
tab-menu
------------------------------ */
.tab-menu-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.tab-menu {
    margin-top: 48px;
}

.tab-menu-container {
    display: flex;
    align-items: flex-end;
    min-height: 40px;
}

.tab-menu-item {
    width: 200px;
    padding: 8px 4px;
    text-align: center;
    margin-right: 8px;
    background-color: #e0e1df;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.tab-menu-item:last-of-type {
    margin-right: 0;
}

.tab-menu-item.is-active {
    background-color: #385b41;
    color: #fefefe;
    font-weight: bold;
    padding: 12px 4px;
}

.tab-content {
    width: 100%;
}

.tab-content-box {
    min-height: 320px;
    padding: 16px 32px;
    background-color: #e9f6ec;
    display: none;
}

.tab-content-box.is-active {
    display: block;
}